# Needed in order to make the bot run at all
DISCORD_TOKEN="" 

## These are needed in order to add the slash commands to the bot for the guild (they're not global)
CLIENT_ID=""
GUILD_ID=""

### Database path/url connection, if the database file/path hasn't been changed this should work as default 
DATABASE_URL="file:./db.sqlite3?connection_limit=1"

#### Differently from v1.0 perhaps publishing openly copirighted material isn't necessairly a good thing even if Re-Logic has been for years very consumer-friendly, so you'll need to get them by yourself (google TConvert)
#### Also they're only needed for /stats and migration purposes, so not essential
TERRARIA_VANILLA_FILES_PATH="./archive"

##### This changes wheter or not you want the commands to auto-disable on crash or not (production == disable || development == ignore)
NODE_ENV="production | development"